<!-- base.html -->
<!DOCTYPE HTML>
<html>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js">
  </script>

  <body bgcolor="87ceeb">
    <center>
      <h2>Simple Library Management System</h2>
    </center>

    <nav style="text-align:center">
      <a href="/search"> <button>Search</button> </a>
      <a href="/"> <button>Insert</button> </a>
      <a href="/books"> <button>Display All Books</button> </a>
    </nav>

    <br>

    {% block component %}
    {% endblock %}

  </body>
</html>
